# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
.env/

# Alembic
alembic/versions/__pycache__/

# Docker
*.log
docker-compose*.yml
Dockerfile

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Outros
*.sqlite3
*.db

# Testes
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

#Postgresql
pgdata/
